.body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: white;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #333333;
    position: fixed;
    z-index: 10;
}
.header a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    /* transition: 2s; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-image: linear-gradient(0deg,orange,100); */
}
.header a:hover{
    /* border-bottom: 3px solid orange; */
}
.header .headerbanner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .headerbanner .items{
    width: 184px;
    height: 70px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fiveadvantagesbanner{
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
}
.fiveadvantagesbanner h1{
    font-size: 40px;
    position: relative;
    padding-top: 120px;
}
.fiveadvantagesbanner h1:after{
    content: '';
    background-color: black;
    width: 60px;
    height: 10px;
    position: absolute;
    top: 180px;
    left: 48%;
}
.fiveadvantagesitems{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.fiveadvantagesitems .item{
    width: 184px;
    height: 36px;
    background-color: white;
    border: lightgray 1px dotted;
    border-bottom: #ae0014 2px solid;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: lighter;
    margin: 0 10px;
    
}
.fiveadvantagesitems .item a{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(0deg,#ae0014, 100%, transparent 100%);
    background-position: 0 40px ;
    transition: 0.25s;
    background-repeat: no-repeat;
}
.fiveadvantagesitems .item a:hover{
    background-position: 0 0;
}
.middlebanners{
    width: 100%;
    height: 4532px;
    background-color: white;
    margin-top: 35px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.middlebanners .probanners img{
    width: 695px;
    height: 430px;
    z-index: 1;
    /* opacity: 0.5; */
}
.middlebanners .probanners:nth-child(odd){
    width: 960px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    position: relative;
}
.middlebanners .probanners:nth-child(odd) .number {
    width: 300px;
    height: 388px;
    position: absolute;
    left: -2%;
    top: 2.4%;
    z-index: 5;
}
.middlebanners .probanners:nth-child(odd) .number .upside{
    width: 355px;
    height: 150px;
    display: flex;
    /* position: relative; */
    /* text-align: center; */
    background-color: rgb(150, 0, 0);
    color: white;
    justify-content: center;
    align-items: center;
}
.middlebanners .probanners:nth-child(odd) .number .downside{
    width: 325px;
    height: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 15px;
    color: white;
}
.middlebanners .probanners:nth-child(odd) .number .upside h1{
    font-size: 120px;
    transform: rotate(90deg);
    /* position: absolute; */
    left: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    
}
.middlebanners .probanners:nth-child(odd) .number .upside h2{
    font-size: 45px;
    font-family: 'Noto Sans TC', sans-serif;
    /* padding: 0 0 0 100px; */
}
.middlebanners .probanners:nth-child(odd) .number .downside h3{
    font-size: 25px;
    font-family: 'Noto Sans TC', sans-serif;
}
.middlebanners .probanners:nth-child(odd) .number .downside h4{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.8;
}
/* Bottom Image */
.middlebanners .probanners:nth-child(odd) .bottomtext{
    width: 600px;
    height: 235px;
    position: absolute;
    background-color: rgb(240, 231, 231);
    top: 74.5%;
    left: 10%;
    z-index: 5;
}
.middlebanners .probanners:nth-child(odd) .bottomtext{
    padding: 10px 15px;
    line-height: 1.3;
}
.middlebanners .probanners:nth-child(odd) .bottomtext h3{
    color: #ae0014;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 5px;

    /* 標題後加線條 */
    display: flex;
    align-items: center;
}
.middlebanners .probanners:nth-child(odd) .bottomtext h3::after{
    content: '';
    width: 20px;
    height: 3px;
    background-color: #ae0014;
    display: block;
    flex-grow: 1;
    margin-left: 3px;
}
/* 標題後加線條 */


.middlebanners .probanners:nth-child(odd) .bottomtext span{
    background: black;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 10px 0;
    padding: 5px;
    font-size: 13px;
    border-radius: 8%;
}
.middlebanners .probanners:nth-child(odd) .bottomtext h5{
    font-family: 'Noto Sans TC', sans-serif;
    padding: 2px 0;
    font-size: 15.5px;
    margin: 5px 0;
}
.middlebanners .probanners:nth-child(odd) .bottomtext h5::before{
    content: '．';
    color: red;
}
.middlebanners .probanners:nth-child(5) .bottomtext{
    width: 600px;
    height: 150px;
}
.middlebanners .probanners:nth-child(odd) .grayspace{
    width: 439px;
    height: 290px;
    background-color: #EEEEEE;
    opacity: 0.5;
    /* position: relative; */
    margin-top: -300px;
    margin-left: -350px;
}
.middlebanners .probanners:nth-child(odd) .youtubeicon img{
    width: 57px;
    height: 36px;
    position: relative;
    z-index: 5;
    margin-top: 65px;
    margin-left: -140px;
}
/* Bottom image */

/* even image */
.middlebanners .probanners:nth-child(even) {
    width: 960px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    position: relative;
    margin-top: 60px;
}
.middlebanners .probanners:nth-child(even) .number {
    width: 300px;
    height: 388px;
    position: absolute;
    right: 8%;
    top: 2.4%;
    z-index: 5;
}
.middlebanners .probanners:nth-child(even) .number .upside{
    width: 355px;
    height: 150px;
    display: flex;
    /* position: relative; */
    /* text-align: center; */
    background-color: rgb(150, 0, 0);
    color: white;
    justify-content: center;
    align-items: center;
}
.middlebanners .probanners:nth-child(even) .number .downside{
    width: 325px;
    height: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 15px;
    color: white;
}
.middlebanners .probanners:nth-child(even) .number .upside h1{
    font-size: 45px;
    /* position: absolute; */
    left: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    
}
.middlebanners .probanners:nth-child(even) .number .upside h2{
    font-size: 120px;
    font-family: 'Noto Sans TC', sans-serif;
    transform: rotate(90deg);
    /* padding: 0 0 0 100px; */
}
.middlebanners .probanners:nth-child(even) .number .downside h3{
    font-size: 25px;
    font-family: 'Noto Sans TC', sans-serif;
}
.middlebanners .probanners:nth-child(even) .number .downside h4{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.8;
}
/* Bottom Image */
.middlebanners .probanners:nth-child(even) .bottomtext{
    width: 600px;
    height: 150px;
    position: absolute;
    background-color: rgb(240, 231, 231);
    top: 75%;
    left: 36%;
    z-index: 5;
}
.middlebanners .probanners:nth-child(even) .bottomtext{
    padding: 10px 15px;
    line-height: 1.3;
}
.middlebanners .probanners:nth-child(even) .bottomtext h3{
    color: #ae0014;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 5px;

    /* 標題後線條 */
    display: flex;
    align-items: center;
}
.middlebanners .probanners:nth-child(even) .bottomtext h3::after{
    content: '';
    width: 20px;
    height: 2px;
    display: block;
    background-color: rgb(150, 0, 0);
    flex-grow: 1;
    margin-left: 5px;
    /* 標題後線條 */
}


.middlebanners .probanners:nth-child(even) .bottomtext span{
    background: black;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 10px 0;
    padding: 5px;
    font-size: 13px;
    border-radius: 8%;
}
.middlebanners .probanners:nth-child(even) .bottomtext h5{
    font-family: 'Noto Sans TC', sans-serif;    
    padding: 2px 0;
    font-size: 15.5px;
    margin: 5px 0;
}
.middlebanners .probanners:nth-child(even) .bottomtext h5::before{
    content: '．';
    color: red;
}
.middlebanners .probanners:nth-child(even) .grayspace{
    width: 518px;
    height: 413px;
    background-color: #EEEEEE;
    opacity: 0.5;
    /* position: relative; */
    /* margin-top: -200px; */
    /* z-index: -1; */
    margin-right: -700px;
    margin-top: -170px;
}
.middlebanners .probanners:nth-child(even) .youtubeicon img{
    width: 57px;
    height: 36px;
    margin-right: 130px;
    margin-top: 20px;
    position: relative;
    z-index: 5;
}
/* 46thingsvideo */

.thingsvideo{
    width: auto;
    height: 612px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thingsvideo .words h1{
    font-size: 100px;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
/* .thingsvideo .words */

