* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.body {
    position: relative;
}

#menu-control {
    display: none;
}

#msg {
    display: none;
}

#circledots {
    display: none;
}

.main-header img {
    vertical-align: middle;
}

.midbanner {
    width: 100%;
    height: 158px;
    background-image: url('./banner-city.png');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;

    margin-top: -10px;

    .content {
        z-index: 1;

        h1{
            font-weight: lighter;
            font-size: 26px;
        }
        h2 {
            font-weight: lighter;
            font-size: 18px;
        }
    }

    .midbanner-mask::after {
        content: '';
        top: 0;
        left: 0;
        background-color: steelblue;
        opacity: 0.8;
        // z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media screen and (max-width: 767px) {

    #menu-control {
        // display: none;

        &:checked {
            ~.mainheader {
                .nav {
                    // display: block;
                    right: 0;
                    transition: 0.5s;
                }

                .logo-group {
                    .hb {
                        span {

                            background-color: black;

                            &:nth-child(1) {
                                transform: rotate(45deg);
                                transition: 0.25s cubic-bezier(.29, 1.17, .56, 1.43);

                            }

                            &:nth-child(2) {
                                display: none;
                            }

                            &:nth-child(3) {
                                transform: rotate(135deg);
                                transition: 0.25s cubic-bezier(.29, 1.17, .56, 1.43);


                            }
                        }
                    }
                }
            }
        }
    }

    #circledots {
        &:checked {
            ~.fbmessagecircle {
                .circledots {
                    span {
                        &:nth-child(3) {
                            transform: rotate(225deg);
                            width: 25px;
                            height: 5px;
                            border-radius: 0;
                            transition: 0.25s;
                        }

                        &:nth-child(2) {
                            display: none;
                            transition: 0.25s;
                        }

                        &:nth-child(1) {
                            transform: rotate(-225deg);
                            width: 25px;
                            height: 5px;
                            border-radius: 0;
                            transition: 0.25s;
                        }
                    }
                }
            }
            ~ .circlefilter{
                left: 0;
                transition: 0.25s;
            }
        }
    }

    .fbmessage {
        position: fixed;
        bottom: 3.7%;
        right: 4%;
        z-index: 100;
        font-size: 53px;

        a {
            text-decoration: none;

            i {
                color: white;
            }
        }
    }

    .fbmessagecircle {
        position: fixed;
        width: 100%;
        bottom: 3.88%;
        z-index: 50;
        .message {
            width: 100%;
            display: flex;
            justify-content: space-around;

            .fa-circle {
                &:first-child {
                    margin-left: -148px;
                }

                &:last-child {
                    margin-right: -148px;
                }

                font-size: 70px;
                color: #1E90FF;
            }
        }

        .circledots {
            position: fixed;
            bottom: 9.5%;
            left: 9.5%;
            transform: rotate(90deg);

            span {
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                background-color: white;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;

                &:first-child {
                    transform: translateY(-12px);
                    border-radius: 100%;
                    transition: 0.25s;
                }

                &:nth-child(2) {
                    border-radius: 100%;
                    transition: 0.25s;
                }

                &:last-child {
                    transform: translateY(12px);
                    border-radius: 100%;
                    transition: 0.25s;
                }
            }
        }
    }

    .circlefilter {
        width: 100%;
        height: 100%;
        position: fixed;
        left: -100%;
        top: 0;
        background-color: rgba(97, 93, 86,0.9);
        // filter: opacity(0.04);
        z-index: 4;
        transition: 0.25s;
        .filterinfos{
            position: absolute;
            bottom: 15%;
            left: 4%;
            display: flex;
            flex-direction: column;
            z-index: 100;
            i{
                font-size: 55px;
                margin: 10px 0;
                &:first-child{
                    color: rgba(205, 32, 31, 1);
                }
                &:last-child{
                    color: #1E90FF;
                }
            }
        }
        
    }



    .mainheader {
        position: sticky;
        top: 0;
        z-index: 3;

        width: 100%;
        max-width: 2112px;
        background-color: lightgray;
        // position: relative;
        height: 100px;
        display: flex;

        .logo-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // padding: 30px 20px;

            .hb {
                width: 100px;
                height: 100px;
                position: absolute;
                right: 0px;
                top: -3px;
                cursor: pointer;
                z-index: 2;

                span {
                    display: block;
                    width: 40px;
                    height: 4px;
                    background-color: black;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;

                    &:first-child {
                        transform: translateY(-13px);
                    }

                    &:last-child {
                        transform: translateY(13px);
                    }
                }
            }

            img {
                width: 80px;
                height: 80px;
                margin: 0 20px;
            }

            .bs {
                color: white;

                h3 {
                    display: none;
                }
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        .nav {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-direction: column;
            padding: 30% 0;

            position: fixed;
            // position: absolute;
            // display: none;
            right: -800px;
            top: 100px;
            // max-width: 0%;
            width: 65%;
            height: calc(100% - 100px);
            z-index: 99;

            background-color: lightblue;
            transition: 0.5s;

            .navitem {
                padding: 10px 0;
                width: 100%;
                height: 42px;
                display: flex;
                justify-content: center;
                align-content: center;
                position: relative;

                a {
                    // text-decoration: ;
                    color: black;
                }

                label {
                    cursor: pointer;
                    text-decoration: underline;
                }

                &::after {
                    content: '';
                    color: black;
                    width: 20px;
                    height: 3px;
                    position: absolute;
                }

            }
        }

        .form {
            display: none;
        }

        .container {
            text-align: center;
        }

    }

    .carousel {
        width: 100%;
        position: relative;
        img {
            width: 100%;
            min-width: 320px;
        }

    }

    .carouselbanner{
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin-top: -10px;
        padding: 5px 0;
        .register{
            margin: 0 10px;

            a{
                text-decoration: none;
                color: black;
                h3{
                    font-size: 15px;
                    transition: 0.25s;
                    &:hover{
                        color: #1E90FF;
                        transition: 0.25s;
                    }
                }
                
            }
            // & +.register{
            //     border-left: 2px black solid;
            // }
        }
    }
    .owl-next {
        position: absolute;
        top: 40%;
        right: 10%;
        font-size: 80px !important;

        span {
            color: white;
        }
    }

    .owl-prev {
        position: absolute;
        top: 40%;
        left: 10%;
        font-size: 80px !important;

        span {
            color: white;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
    }
    .footer{
        h4 {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 768px) {
    .body {
        position: relative;
    }

    .circlefilter {
        display: none;
    }

    .fbmessage {
        position: fixed;
        bottom: 3.8%;
        right: 3.1%;
        z-index: 5;
        font-size: 45px;

        .fab {
            color: white;
        }
    }

    .fbmessagecircle {
        position: fixed;
        bottom: 2.6%;
        right: 2.6%;
        z-index: 4;
        font-size: 60px;
        color: #1E90FF;

        .fas {
            &:last-child {
                display: none;
            }
        }
    }

    #msg {
        &:checked {
            ~.mainheader {
                .form {
                    right: 0;
                    transition: 0.75s;
                }

                ::before {
                    left: 0px;
                    transition: 0.75s;
                }
            }
        }
    }

    .mainheader {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;

        position: sticky;
        top: 0;
        z-index: 10;

        .logo-group {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 150px;

            img {
                width: 60px;
                margin-right: 10px;
            }

            .bs {
                a {
                    text-decoration: none;
                    color: black;
                }

                h1 {
                    font-weight: lighter;
                }

                h3 {
                    font-size: 13px;
                    text-align: center;
                    font-weight: lighter;
                }
            }
        }

        .nav {
            display: flex;
            margin-left: -100px;

            .navitem {
                padding: 0 15px;

                a {
                    text-decoration: none;

                    h3 {
                        transition: 0.35s;

                        &:hover {
                            transition: 0.35s;
                            color: steelblue;
                        }
                    }
                }

                h3 {
                    color: black;
                    font-size: 18px;
                    font-weight: 550;
                }

                &+.navitem {
                    border-left: black 1px solid;
                }

                label {
                    cursor: pointer;

                    h3 {
                        &:hover {
                            transition: 0.35s;
                            color: steelblue;
                        }
                    }
                }

            }
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 100%;
            position: fixed;
            right: -30%;
            top: 0;
            background-color: rgba(8, 0, 0, 1);
            color: white;
            transition: 0.75s;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px;

                h1 {
                    color: #74F9FF;
                }

                h3 {
                    margin-top: 5px;
                }
            }

            input {
                width: 80%;
                padding: 5px;
                margin: 0 0 8px;
            }

            button {
                width: 80px;
                height: 40px;
                background-color: lightseagreen;
                border: none;
                color: white;
            }
        }

        ::before {
            content: '';
            width: 70%;
            height: 100%;
            top: 0;
            left: -70%;
            position: fixed;
            background-color: rgb(97, 93, 86);
            filter: opacity(0.04);
            transition: 0.75s;
        }
    }

    .carousel {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            min-width: 360px;
        }

        .carouselbanner {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            position: absolute;
            z-index: 1;
            bottom: 20%;

            .register {
                width: 250px;
                // height: 50px;
                background-color: rgba(0, 180, 255, 0.8);
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color:black;
                    display: block;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    h3 {
                        font-weight: lighter;
                        transition: 0.25s;
                        &:hover{
                            color: white;
                            transition: 0.25s;
                        }
                    }
                }
            }
        }
    }

    .owl-next {
        position: absolute;
        top: 40%;
        right: 10%;
        font-size: 80px !important;

        span {
            color: white;
        }
    }

    .owl-prev {
        position: absolute;
        top: 40%;
        left: 10%;
        font-size: 80px !important;

        span {
            color: white;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
    }
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666666%;
}

.col-12 {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .col-md-1 {
        width: 8.33333%;
    }

    .col-md-2 {
        width: 16.66666%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333%;
    }

    .col-md-5 {
        width: 41.66666%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333%;
    }

    .col-md-8 {
        width: 66.66666%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333%;
    }

    .col-md-11 {
        width: 91.33333%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-1 {
        width: 8.33333%;
    }

    .col-lg-2 {
        width: 16.66666%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33333%;
    }

    .col-lg-5 {
        width: 41.66666%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33333%;
    }

    .col-lg-8 {
        width: 66.66666%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33333%;
    }

    .col-lg-11 {
        width: 91.33333%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .col-xg-1 {
        width: 8.33333%;
    }

    .col-xg-2 {
        width: 16.66666%;
    }

    .col-xg-3 {
        width: 25%;
    }

    .col-xg-4 {
        width: 33.33333%;
    }

    .col-xg-5 {
        width: 41.66666%;
    }

    .col-xg-6 {
        width: 50%;
    }

    .col-xg-7 {
        width: 58.33333%;
    }

    .col-xg-8 {
        width: 66.66666%;
    }

    .col-xg-9 {
        width: 75%;
    }

    .col-xg-10 {
        width: 83.33333%;
    }

    .col-xg-11 {
        width: 91.33333%;
    }

    .col-xg-12 {
        width: 100%;
    }
}

div[class^="col-"] {
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.container {
    text-align: center;
    padding: 15px 0;
    background-color: white;

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    img {
        padding: 20px;
    }

    .col-12 {
        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 14px;
        }

    }

}

.footer {
    width: 100%;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;

    .box {
        font-size: 50px;
        // color: orange;

        .fas {
            color: rgba(205, 32, 31, 1);
        }

        .fab {
            color: rgba(205, 32, 31, 1);
        }

        .fa-facebook-square {
            color: blue;
        }
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        padding-top: 25px;

        a {
            color: black;
        }
    }

    .fa-map-marker-alt {
        color: blue;
    }
}